<<<<<<< HEAD
body{
    background-color: #74e38cdd;
    color: #3c29e3;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
h1{
    text-align: center;
    color: #222424;
}
button:hover{
    background-color: #614caf;
    padding: 5px ;
    
    border-radius: 5px;
=======
body{
    background-color: #74e38cdd;
    color: #3c29e3;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
h1{
    text-align: center;
    color: #222424;
}
button:hover{
    background-color: #614caf;
    padding: 5px ;
    
    border-radius: 5px;
>>>>>>> cd1faf6ebee0714e8478449fd62f920ba9298b71
}