<<<<<<< HEAD
.body{
    background-color: #f0f0f078;
    color: #f51717;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    
=======
.body{
    background-color: #f0f0f078;
    color: #f51717;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    
>>>>>>> cd1faf6ebee0714e8478449fd62f920ba9298b71
}